body{
    background-color:#00332e; 
}

*{
    margin: 0px;
}

.logo{
    height:75px;
    width: auto;
}

ul{
   list-style-type: none;
}

form{
    width: 100%;
}

form input{
    width: 80%;
    height: 38px;
}

form button{
    width: 5%;
    height: 38px;
}

form::placeholder{
    padding-left: 10px;
}

.btnPokomonList{
    background-color:  #009688;
    color:  black;
    margin-top: 8px;
    padding: 10px;
    font-size: 19px;
    width: 60%;
    text-align: center;
    border-color: transparent;
    border-radius: 8px;
}

ul li {
    height: 100%;
    text-align: center;
}

.container{
    width: 100%;
    background-color:#00332e; 
    padding: 20px;
}

h1{
    color:  #FFCC66;
}

    .loadingDiv {
    position:absolute;
    top:50%;
    left:50%;
    width: 60px;
    height:60px;
    border-radius: 50%;
    border: 2px solid white;
    border-top:2px solid #00332e;
    animation: loadingIcon 2s linear infinite;
    }

  @keyframes loadingIcon {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }    
 
  #modal-container{
    display:none;
  }

  #modal-container.isVisible{
    position:fixed;
    top:0;
    left:0;
    box-sizing: border-box;
    width:100%;
    height:100%;
    padding:20px;
    background-color: rgba(0,0,0,0.5);
    z-index:999;
    overflow:auto;
    display: grid;
    text-align: center;
  }

  .modal{
    position: relative;
    margin: auto;
    display: inline;
    background-color: aliceblue;
    padding-bottom: 10px;
    width: 80%;
    text-align: center;
  }

  .closeBtn{
    position: absolute;
    top:8px;
    right:8px;
    background: none;
    color: #090909;
  }

.PokomoneImg{
height: 150px;
width: auto;
}

.Pokomonename{
    font-weight: bold;
    font-size: 20px;
}

.pokemonHeight{
    font-size: 20px;
}