body, .list-group-item{
    background-color:  #3466AF;
}

.modal-content{
    background-color:  #c4cbe0;
}

.logo{
    height:78px;
    width: auto;
}

@media (min-width: 570px) {
    .list-group {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (min-width: 760px) {
    .list-group {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media (min-width: 990px) {
    .list-group {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  
.btn-secondary{
    color:#070707 ;
    width: 150px;
    border-radius: 8px;
    background-color: #e8c53a;
}


h1{
    color: yellow;
    font-size: 18px;
}


.pokemonHeight{
    font-size: 20px;
    text-align: center;
}

.PokomoneImg{
    width: 200px;
    height: auto;
}





