{
    "env": {
        "es6": true,
        "browser": true
    },
    "extends": [
        "eslint:recommended"
    ],
    "rules": {
        "quotes": [ "warn", "double" ],
        "no-undef": "off",
        "no-prototype-builtins": "off"
    }
}